DEEPL_API_KEY=your_deepl_key
DEEPL_AUTH_KEY=your_deepl_key
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
WHISPER_MODEL=small
WHISPER_MODEL_SIZE=small
WHISPER_COMPUTE_TYPE=int8
WHISPER_BEAM_SIZE=2
WHISPER_VAD_FILTER=true
TRANSCRIBE_WINDOW_SECONDS=2.4
PARTIAL_TRANSCRIBE_INTERVAL_SECONDS=0.9
ROLLING_TRANSCRIBE_WINDOW_SECONDS=1.8
FINAL_SILENCE_SECONDS=0.75
MIN_TRANSCRIBE_SECONDS=0.7
VAD_RMS_THRESHOLD=420
MAX_SESSION_AUDIO_SECONDS=6.0
WHISPER_WORKERS=2
